.add-new-module {
    margin: 30px 0;
}
.add-new-module .btn {
    margin-top: 20px;
}
.modules-list .module-item {
    padding-bottom: 20px;
    padding-top: 20px;
}
.module-item .btn {
    margin-right: 5px;
}
.modules-list h3 a {
    color: var(--bs-body-color);
    text-decoration: none;
}
.modules-list h3 a:hover {
    text-decoration: underline;
}
.new-name-container {
    margin-bottom: 5px;
}
.alert {
    margin-top: 20px;
}